<form [formGroup]="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input
            formControlName="user-name"
            id="user-name" 
            type="text" 
            class="form-control" 
            (change)="checkValue($event)">
        <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
            <div *ngIf="username.errors.required">Username field is required</div>
            <div *ngIf="username.errors.minlength">Field should at least have {{ username.errors.minlength.requiredLength }} characters</div>
            <div *ngIf="username.errors.canNotContaintSpace">Name space can't containt spaces</div>
        </div>
    </div>
    <div class="form-group">
        <label for="asyncUserName">Async User Name</label>
        <input formControlName="asyncUserName" id="asyncUserName" type="text" class="form-control">
        <div *ngIf="asyncUserName.touched && asyncUserName.invalid" class="alert alert-danger">
            <div *ngIf="asyncUserName.errors.required">Async Username field is required</div>
            <div *ngIf="asyncUserName.errors.shouldBeUnique">Async User name is already taken</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
            formControlName="password"
            id="password" 
            type="text" 
            class="form-control">
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">Password is required</div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>